server:
  port: 8080

spring:
  application:
    name: JobApplication

  security:
    oauth2:
      resourceserver:
        jwt:
          jws-algorithms: ES256

  datasource:
    url: ${POSTGRES_URL}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

    hikari:
      minimum-idle: 2
      maximum-pool-size: 10
      max-lifetime: 1800000 # 30 минут
      connection-timeout: 30000

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        boot:
          allow_jdbc_metadata_access: true